
html{
  font-family: Montserrat;
}

/*Header Menu*/
header{
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 5;
  background-color: white;
  height: 64px;
}
.logo{
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 24px;
  letter-spacing: 0.15em
}
nav{
  text-align: right;
  flex-grow: 1;
  padding-right: 24px;
}

nav span{
  display: inline-block;
  padding-left: 16px;
}
nav a{
  text-decoration: none;
}

.mobile-nav{
  display: none;
}

/*Main Section*/
.container{
  display: flex;
}

.column-left{
  width: 60%;
  padding: 32px 24px;
}

.column-right{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

img{
  display: block;
  width: 100%;
}

.image-content{
  overflow: hidden;
}

#top-row{
  background-color: grey;
  float: left;
}

#top-row h1{
 padding-top: 2em;
 font-size: 3em;
 font-weight: 600;
 line-height: 1.4em;
}

#top-row h3{
  font-size: 1.5em;
  padding-top: 1.5em;
  line-height: 1.4em;
}

#top-row a{
  align-content: center;
  font-size: 1.5em;
}

.btn{

}

/*Information - Main Column*/
#second-row{
float: left;
}

#second-row .mobile-image-content{
  display: none;
}

.column-right .item{
  padding: 1rem 0 1rem 1rem;
  display: flex;
}
h3{
  font-size: 1.4em;
  font-weight: 500;
  line-height: 2em;
}
